.group_stage {
    display: grid;
    gap: 1em;
    text-align: left;
}

.groups_wrapper {
    display: inherit;
    gap: 10px;
    display: inherit;
    grid-template-columns: repeat(2, 1fr)
}

@media (max-width: 770px) {
    .groups_wrapper {
        grid-template-columns: 1fr;
    }
}
