.match_card {
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    padding: 1em;
    display: grid;
    gap: 10px;
    text-align: center;
}

.match_card:hover {
    border: 1px solid var(--text-color-primary);
}

.date {
    color: var(--text-color-secondary);
}
