.match_row {
    color: var(--text-color-primary);
    border-bottom: 1px solid var(--text-color-secondary);
    display: flex;
    gap: 2em;
}

.match_row:hover {
    background-color: var(--background-color);
}

.score_delimiter {
    flex: 1;
}
