.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--primary-color);
}

.logo {
    width: 50px;
}

.nav_wrapper {
    display: inherit;
    align-items: inherit;
}
