.nav_list {
    display: flex;
    gap: 1em;
    font-weight: bold;
}

.nav_list a {
    color: var(--text-color-primary);
    text-decoration: none;
}

.nav_list a:hover {
    color: var(--win-color);
}
